aws_cdk_lib==2.75.0
aws-cdk.aws-servicecatalogappregistry-alpha==2.75.0a0
black
boto3==1.26.47
requests==2.31.0
crhelper==2.0.11
Click
moto
pipenv
poetry
pytest>=7.2.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
tox
tox-pyenv
-e ./source/cdk_solution_helper_py/helpers_cdk
-e ./source/cdk_solution_helper_py/helpers_common
